html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

#homeTag {
    font-size: 20px;
    text-decoration: none;
    color: black;
    align-items: start;
    justify-content: start;
    text-align: center;
}

nav {
    background-color: #47606f;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav ul {
    align-items: center;
    justify-content: center;
}

nav li {
    display: inline;
    text-decoration: none;
    margin: 0px 25px 0px;
}

nav li a {
    text-decoration: none;
    color: white;
}

.navbar {
    color: white;
}

.homePage {
    display: flex;
    flex-direction: row;
    margin: 30px;
    align-items: center;
    justify-content: center;
}
  
  .profile-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .profile-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 30px;
    padding-left: 50px;
    max-width: 600px;
  }
  
  .profile-info h1 {
    margin-bottom: 10px;
  }
  
  .profile-info p {
    margin: 6px 0;
  }
  
  .profile-info a {
    color: #0073e6;
    text-decoration: underline;
  }
  
  .research {
    font-weight: bold;
    margin-top: 15px;
  }
  
  .social-icons {
    margin-top: 20px;
  }
  
  .social-icons a img {
    width: 32px;
    height: 32px;
    margin-right: 15px;
    transition: transform 0.2s ease;
  }
  
  .social-icons a img:hover {
    transform: scale(1.1);
  }
  

.about {
    height: 100vh;
    display: flex; /* Flexbox를 사용하여 2개의 column 생성 */
    gap: 20px; /* column 간의 간격 설정 */
    width: 100%; /* 전체 컨테이너 크기 */
}

.profile {
    float: left;
    width: 50%;
}


.column {
    flex: 1; /* 두 column이 동일한 너비를 차지 */
    display: flex; /* 내부에서 이미지를 정렬하기 위해 Flexbox 사용 */
    align-items: center; /* 수직 정렬 */
    justify-content: center; /* 수평 정렬 */
    height: 400px; /* column 높이 설정 */
}

.column img {
    max-width: 100%; /* column 너비를 초과하지 않도록 설정 */
    max-height: 100%; /* column 높이를 초과하지 않도록 설정 */
    object-fit: cover; /* 이미지를 비율 유지하며 column에 맞춤 */
}
